<div class="container-fluid">
  <div class="row">
    <div class="d-block d-lg-none mobile-content">
      <p>
        An awesome <br>website is <br> building here
      </p>
    </div>
    <div class="offset-md-1 d-none d-md-block col-md-3">
      <div class="text-center side-bar">
        <div class="my-info">
          <img class="img-fluid img-round" src="<%= image_path("andrey-spies.jpg") %>" alt="Profile image">
          <h1>Andrey Spies</h1>
          <h6>Full Stack Developer</h6>
          <ul>
            <li>
              <a href="#">HOME</a>
            </li>
            <li>
              <a href="#about">ABOUT</a>
            </li>
            <li>
              <a href="">PORTFOLIO</a>
            </li>
            <li>
              <a href="">EXPERIENCE</a>
            </li>
            <li>
              <a href="">CONTACT</a>
            </li>
          </ul>
          <div class="social">
            <a id="linkedin" href="https://www.linkedin.com/in/andreyspies/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a id="github" href="https://github.com/AndreySpies" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a id="instagram" href="https://www.instagram.com/andreyspies/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block col-xs-12 col-md-7">
      <div class="presenting">
        <div class="home-info">
          <h1>
            I am <br> a Developer
          </h1>
          <p>
            I am a FullStack Developer <br>
            and I can build anything you want!
          </p>
          <a href="#">
            <span>
              View my Portfolio
            </span>
            &nbsp <i class="fas fa-briefcase"></i>
          </a>
        </div>
      </div>
      <div id="about" class="about-me">
        <div class="about-me-content">
          <h6>ABOUT ME</h6>
          <h1>WHO AM I?</h1>
          <p>
            <strong>Hi, I'm Andrey Spies.</strong> As you had see, I am a FullStack Developer, that is, I can build anything that runs in a browser, from a simple website untill a big and complex system. <a href="#portfolio">Here</a> are some examples of things that I already did.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, quis, incidunt! Tempore, laboriosam accusantium quas temporibus magni, soluta dolor neque quia velit facilis, officiis architecto quisquam deleniti molestiae qui perferendis.
          </p>
        </div>
      </div>
      <div id="skillset" class="skillset">
        <div class="skillset-content">
          <h1>Skillset</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sapiente, natus laboriosam numquam, rem quaerat consequuntur officiis eligendi libero, incidunt voluptatibus nobis voluptate tempore quo, culpa esse itaque sequi quae.</p>
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="skillset-list">
                <h2>Development Skills</h2>
                <ul>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      Ruby
                    </div>
                  </li>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      Ruby on Rails
                    </div>
                  </li>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      PostgreSQL
                    </div>
                  </li>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      RESTful API
                    </div>
                  </li>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      AJAX
                    </div>
                  </li>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      HTML
                    </div>
                  </li>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      CSS
                    </div>
                  </li>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      Heroku
                    </div>
                  </li>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      Javascript ES6 (basics)
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="skillset-list">
                <h2>Project Managing Skills</h2>
                <ul>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      Git
                    </div>
                  </li>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      GitHub
                    </div>
                  </li>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      Trello
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="skillset-list">
                <h2>Personal Skills</h2>
                <ul>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      Playing Guitar
                    </div>
                  </li>
                  <li>
                    <div class="dash">
                      <div class="longdash"></div>
                    </div>
                    <div class="skillset-item">
                      Gaming
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
