<div style="width:80%;margin-left:10%;align-items:center;text-align:center;margin-top:32px">
  <div style="font-family:'Playfair Display', serif;font-weight:bold;font-size:22px;line-height:24px;display:flex;text-align:center;align-items:center;">
    <img src="<%= attachments['logo.png'].url %>" style="height:100px;widows:100px;" alt="Logo">
    <p style="padding-top: 15px;color: black;">Alita - Personal Assistent</p>
  </div>
  <h1 style="font-size:24px;font-weight:bold;line-height:78px;color:black;">We have a new contact!</h1>
  <div style="font-family:'Quicksand', sans-serif;color:black;border:1px solid #dddddd;border-radius:3px;background:white;text-align:start;padding:32px 80px; font-size: 15px;">
    <p style="color:black;">Hi Andrey! We have a new contact!</p>
    <p style="color:black;"><%= @contact.name %> sent you a message that says:</p>
    <p>
      <%= @contact.message %>
    </p>
    <p style="color:black;">
      Here are their email: <%= @contact.email %>
    </p>
    <p style="color:black;">See you!</p>
  </div>
</div>

