<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Playfair+Display:400,700|Quicksand" rel="stylesheet">
  <style>
  </style>
</head>

<body style="background:#f7f7f7;border-top:4px solid #632951; padding-bottom: 32px;">
  <%= yield %>
</body>
</html>
